$include /etc/inputrc

set editing-mode emacs
$if mode=emacs
"\M-[D":        backward-char
"\M-[C":        forward-char
"\M-[A":        previous-history
"\M-[B":        next-history
C-q: quoted-insert

$endif

$if Bash

# edit the path
"\C-xp": "PATH=${PATH}\e\C-e\C-a\ef\C-f"
# prepare to type a quoted word --
# insert open and close double quotes
# and move to just after the open quote
"\C-x\"": "\"\"\C-b"
# insert a backslash (testing backslash escapes
# in sequences and macros)
"\C-x\\": "\\"
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
# Add a binding to refresh the line, which is unbound
"\C-xr": redraw-current-line
# Edit variable on current line.
"\M-\C-v": "\C-a\C-k$\C-y\M-\C-e\C-a\C-y="

$endif

set bind-tty-special-chars off

# Completion Options
#"\t": menu-complete
set page-completions on
set completion-query-items 200
set show-all-if-unmodified on
set visible-stats on
set completion-ignore-case on
set show-all-if-ambiguous on
set match-hidden-files on

"\e[A": history-search-backward
"\e[B": history-search-forward

"\e[5~": previous-history
"\e[6~": next-history

;"\C-x\"": "\"\"C-b"

#"(": "\C-v()\e[D"
#"\"": "\C-v\"\C-v\"\e[D"

#"[": "\C-v[]\e[D"


"\eOd": backward-word
"\eOc": forward-word

;set keymap vi
